* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.input_1 .input_2 .input_3{
	border: hidden;
	border-radius: 11%;
}

html,
body {
	width: 100%;
	height: 100%;
}

.wlcm,.wlcm-1,.wlcm-2{
	display: flex;
	margin-top: 15px;
	margin-bottom: 20px;
	align-content: center;
}

body {
	background-color: gray;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

header,
.sidebar{
	background-color: #d9d9d9;
	display: flex;
}

h1 {
	margin-top: 15px;
}

.wrapper {
	display: fixed;
	flex-direction: row;
	width: 50;
	height: auto;
}

main {
	width: 90%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

header {
	height: 8%;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 15px;
	justify-content: space-between;
	padding: 1% 1%;
}

.main {
	width: 100%;
	height: 91%;
	padding: 2%;
	display: flex;
	flex-direction: row;
}

.sidebar {
	width: max-content;
	height: max-content;
	margin-bottom: 5px;
	background-color: yellowgreen;
	border: hidden;
	border-radius: 10px;
	flex-direction: column;
	align-items: center;
	margin-left: 11px;
	padding-left: 3px;
	padding-right: 3px;
}


.sidebar a {
	text-align: center;
	color: black;
	background-color: white;
	padding: 4px 2px 4px 2px;
}

.sidebar .bi {
	margin: 2px 3px 2px 3px;
}

a {
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
	color: black;
	width: 110px;
	height: 30px;
	border-radius: 10px;
	text-decoration: none;
}

.nav-btn {
	width: fit-content;
}

.search-btn {
	display: inline;
	flex-direction: row;
	justify-content: center;
}

.main-wrapper{
	height: 92%;
	width: 100%;
	display: flex;
	align-self: center;
}

#back {
	position: absolute;
	top: 1%;
	left: 1%;
	border-radius: 10%;
}

table {
	text-align: center;
}

table button {
	margin: 2% 2%;
	display: contents;
	justify-content: space-between;
	background-color: #5F6F65;
}

.user_table {
	margin: 15px 10px 15px 5px;
	width: 80%;
	height: 85%;
	color: black;
	min-width: 800px;

	td {
		background-color: #5F6F65;
		width: 10%;
		height: 4vh;
		vertical-align: middle;
	}
}

table tr {
	background-color: #d9d9d9;
}

#calendar{
	width: 90%;
	height: 8%;
	display: contents;
}

td button {
	display: inline;
	width: 58px;
	background-color: white;
	width: 10vw;
	border-radius: 5%;
}

.user_name,
.user_email,
.user_pwd,
.user_confrm {
	width: 100%;
	color: #021526;
	display: flex;
	flex-direction: column;
	text-align: left;
}

.create-btn {
	background-color: #5F6F65;
	color: white;
	margin-top: 10px;
}


/* calendar */

.fc {
	.fc-header-toolbar.fc-toolbar {
		margin: 5px;
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	a {
		font-size: 24px;
	}
}
:root {
	--fc-border-color: black;
	--fc-daygrid-event-dot-width: 5px;
}

.fc .fc-col-header-cell-cushion {
	padding-top: 0;
	/* Override */
	padding-bottom: 0;
	/* Override */
}

.fa {
	margin-right: 5px;
}

/* for image div */
.imgs {
	margin-left: 25px;
	margin-right: 15px;
}
p{
	text-align:center;
}